* {
    outline:none;
}
.youtube-container{

    width: 200px;
    height: 200px;
}

.vimeo-container{

    width: 200px;
    height: 200px;
}

.video-player{
    margin: 1em;
    padding: 1em;
}

.video-container{
    margin: 2em auto;    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 593px;
    width: 900px;
    position: relative;
    overflow: hidden;
}
button:hover {
    cursor:pointer;
}
button:focus {
    border:none;/* your custom focused styles here */
}
.video-container:hover .controls{
    transform: translateY(0);
    transition: all 0.5s;
}

.video-container #myPlayer{
    width: 100%;
    height: 100%;
}
.plyr {
    border-radius: 15px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    transition: all 0.5s;
    z-index: 10;
}

.progress_bar{
    display: inline-block;
    height: 3px;
    top: 0;
    left: 0;
    width: 74%;
    background-color: dimgrey;
}

.actual-progress{
    height: 3px;
    width: 0;
    background-color: #00ff14ad;
}
.circle {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: white;
    float: right;
    margin-top: -7px;
    margin-right: -18px;
    
}

.time {
    margin-right: 11px;
    display: inline-block;
    color: white;
}
.time1 {
    margin-left: 11px;
    display: inline-block;
    color: white;
}
.tools {
    display: flex;
    justify-content: center;
}
.second-play {
    font-size: 83px;
    color: white;
}
.buttons{
    padding: 3px;
}
.buttons .btnsonbar{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.btnsonbar {
    display: inline-block;
    padding: 1em;
    background: none;
    border: none;
}
.play{
    color: antiquewhite;
    font-size: 94px;
}

.actual-controls {
    width: 78%;
    position: absolute;
    bottom: 46px;
    height: 121px;
    z-index: 50;
}

.glyphicon-repeat {
    font-size: 30px;
    color: white;
    font-weight: 100;
}

.mirror {
    transform: scaleX(-1);
}

.icon_on_player .btnsonbar{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 3;
}

.icon_on_player #btnfwd{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 3;
    right: 100px;
}



.plyr__captions{
    margin-bottom: 8em; 

}

.plyr__caption{

    border: 1px solid blue;
    background: green !important;
    color: yellow;
    background-color: aqua;
    font-size: 2em;

}
button:active {
    border:none !important;
}

.progress-section {
    margin-left: 70px;
}

.plyr__controls {
    display: none;
    border: 5px solid red;
    height: 30%;
    background-color: blue; 
    background: green;

}


#all {
    background-color: lightgrey;
    border-radius:10px;
    padding: 20px;
    border:1px solid;
    display:inline-block;
    /*height:500px;*/
    margin:30px;
    width:90%;
  }
  
  .cues {
    color:blue;
  }
  
  .cues:hover {
    text-decoration: underline;
  }
  
  .cues.current {
    color:black;
    font-weight: bold;
  }
  
  #myPlayer {
      display: block;
      float : left;
      margin-right: 2.85714%;
      width: 65.71429%;
      background-color: black;
      position: relative;
  }
  
  #transcript {
    padding: 10px;
    border:1px solid;
    float: left;
    max-height: 225px;
    overflow: auto;
    width: 25%;
    margin: 0;
    font-size: 14px;
    list-style: none;
  }
  
  




